//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Variables

$color-white: #fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #f7f7f9;
$color-gray-300: #eceeef;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #919aa1;
$color-gray-700: #55595c;
$color-gray-800: #343a40;
$color-gray-900: #1a1a1a;
$color-black: #000;

$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #d9534f;
$color-orange: #fd7e14;
$color-yellow: #f0ad4e;
$color-green: #4bbf73;
$color-teal: #20c997;
$color-cyan: #1f9bcf;

$color-primary: $color-gray-900;
$color-secondary: $color-white;
$color-success: $color-green;
$color-info: $color-cyan;
$color-warning: $color-yellow;
$color-danger: $color-red;
$color-light: $color-white;
$color-dark: $color-gray-800;

body {
  font-family: 'Nunito Sans', sans-serif;
}

main {
  min-height: 80vh;
}

header,
footer {
  background-color: $color-gray-800;
}

a {
  color: #fff;
  text-decoration: none;
}

article:hover {
  cursor: pointer;
}

nav {
  height: 100%;
}

p {
  margin: 1rem 0 1rem 0;
}

.bg {
  &-gray-main {
    background: $color-gray-700;
  }
  &-gray-light {
    background: $color-gray-200;
  }
  &-gray-medium {
    background: $color-gray-500;
  }
  &-gray-dark {
    background: $color-gray-800;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.py {
  &-1 {
    padding: 1rem 0 1rem 0;
  }
  &-2 {
    padding: 2rem 0 2rem 0;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
}

.my {
  &-1 {
    margin: 1rem 0 1rem 0;
  }
}
