.navigation-items {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  & li {
    @media (max-width: 576px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    width: 6rem;
  }
}
