.navigation-item {
  width: 7rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  & a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.active {
      color: #919aa1;
    }

    &:hover,
    &:active {
      color: #919aa1;
    }
  }
}
