.navigation-item {
  width: 7.5rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  & a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.active {
      color: #919aa1;
    }

    &:hover,
    &:active {
      color: #919aa1;
    }
  }
}

.navigation-item:last-child {
  width: 3rem;

  & .noWidthFull {
    width: 45px;
    display: flex;
    justify-content: flex-end;
  }
}
