.checkout-steps {
  width: 100%;
  display: flex;
  & a {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;

    &.active {
      color: #000;
      background: #919aa1;
    }
  }
}
