.latest-products {
  & h3 {
    padding: 1rem;
    margin-bottom: 2rem;
  }
  &-product {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 379px) {
      margin: 0 1rem 0 1rem;
      grid-template-columns: 1fr;
    }
  }
}
