.product-reviews {
  margin-top: 1rem;
  width: 100%;

  article :hover {
    cursor: default;
  }

  &-header {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-message {
    height: 2rem;
  }

  &-form {
    &-spinner {
      margin-top: 1rem;
      margin-bottom: 1rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-button {
      button {
        width: 100%;
      }
    }
  }
}
