.cart-dropdown-icon {
  margin-left: 1.8rem;
  &-content {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;
    &:hover {
      cursor: pointer;
    }

    &-img {
      width: 30px;
      height: 30px;
    }

    &-count {
      width: 21px;
      height: 18px;
      position: absolute;
      bottom: 7px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      overflow: hidden;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #919aa1;
      }
    }
  }
}
