.message {
  width: 100%;
  height: 100%;
  &-error {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
  }
}
