.message {
  width: 100%;
  height: 100%;
  &-danger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
  }
  &-success {
    width: 100%;
    height: 100%;
    line-height: 185%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 5px;
  }
}
