.btn {
  width: 90px;
  display: inline-block;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: bolder;
  border: none;

  &.btn-gray-dark {
    background-color: #343a40; //gray-800
    color: #f8f9fa; //gray-100
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active {
      background-color: #919aa1; //gray-600
      color: #f8f9fa; //gray-100
    }
    &:disabled,
    &:disabled:hover {
      background-color: #919aa1; //gray-600
      color: #f8f9fa; //gray-100
      cursor: not-allowed;
    }

    &.animation {
      &:not(:disabled) {
        animation: enable 0.5s linear;
      }

      @keyframes enable {
        0% {
          transform: scale(1);
        }
        60% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  &.btn-gray-light {
    background-color: #adb5bd; //gray-500
    color: #343a40; //gray-800
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active {
      background-color: #343a40; //gray-800
      color: #f7f7f9; //gray-200
    }
  }

  &.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

    &:hover,
    &:active {
      background-color: #1e7e34;
      border-color: #1c7430;
    }
    &:disabled,
    &:disabled:hover {
      border-color: #919aa1;
      background-color: #919aa1; //gray-600
      color: #f8f9fa; //gray-100
      cursor: not-allowed;
    }
  }

  &.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

    &:hover,
    &:active {
      background-color: #bd2130;
      border-color: #b21f2d;
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    &:hover,
    &:active {
      background-color: #0062cc;
      border-color: #005cbf;
    }
  }
}

// &.brown-dark {
//   background-color: #8f5e1e;
//   color: white;

//   &:hover,
//   &:active {
//     background-color: #99703f;
//     color: white;
//   }
//   &:disabled,
//   &:disabled:hover {
//     background-color: #ac9980;
//     border: 1px solid #7e7365;
//     color: #ccc;
//     cursor: not-allowed;
//   }
// }

// &.big {
//   width: 130px;
//   padding: 10px;

//   &:not(:disabled) {
//     animation: enable 0.5s linear;
//   }
// }

// &.full {
//   width: 100%;
// }

// @keyframes enable {
//   0% {
//     transform: scale(1);
//   }
//   60% {
//     transform: scale(1.1);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
