.nav-dropdown {
  height: 100%;
  & li:first-child {
    height: 100%;
    color: #fff;
    &:hover {
      color: #919aa1;
    }
  }
  & li {
    height: 60%;
  }

  & li a {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
    background: #adb5bd; //gray-500
    border: 1px solid #343a40;
  }
}
